<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"name="viewport"
    content="viewport-fit=cover, width=device-width, initial-scale=1.0">
    <title>{% block title %}Vendetuttix{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', path='/images/favicon2.jpg') }}" type="image/jpeg">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/tailwindcss.css') }}"/>
</head>
<body>
  <header class="text-primary-foreground py-4 px-6">
    <nav class="hidden md:flex items-center space-x-6">
      <div class="container mx-auto flex items-center justify-between">
        <div class="w-30 flex items-center">
          <img class="ml-4 mr-4" src="{{ url_for('static', path='images/default.jpg') }}" alt="Vendetuttix" width="120" height="90">
          <a class="text-5xl font-bold ml-4" href="/">Inicio</a>
        </div>
        </div>
        <div class="space-x-8 flex">
          
          <nav>
            <ul class="menu">
              <li class="relative group">
                <a href="#" class="group-hover:text-accent">
                  Catálogo
                </a>
                <ul class="submenu bg-cream rounded-lg shadow-md absolute top-full hidden group-hover:block z-10 py-0 w-64">
                  <li class="w-full"><a href="/home/departament" class="text-primary-foreground rounded px-4 w-full">Departamento</a></li>
                  <li class="w-full"><a href="#" class="text-primary-foreground rounded px-4 w-full">Categoría</a></li>
                  <li class="w-full"><a href="#" class="text-primary-foreground rounded px-4 w-full">Productos</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <nav>
            <a class="hover:text-accent" href="/home/contact">
              Contacto
            </a>
          </nav>
        </div>
      </div>
    </nav>
  </header>
  
  
  

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

<footer class="bg-color: black text-muted-foreground py-8">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="mb-4 md:mb-0">
        <a class="text-3xl font-bold" href="#">
          Catalogo Vendetuttix
        </a>
        <p class="text-sm">tu mas diversa tienda de productos</p>
      </div>
      <div class="space-x-6">
        <a class="hover:text-accent" href="#">
          Contáctame
        </a>
        <a class="hover:text-accent" href="#">
          Políticas de privacidad
        </a>
        <a class="hover:text-accent" href="#">
          Términos y condiciones
        </a>
      </div>
    </div>
  </footer>

</html>
