<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"name="viewport"
    content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/app.css">

</head>
<body>
    <main class="flex-1">
        <section class="py-12 md:py-24 flex justify-left items-center bg-light">
            <div class="container" mx-autoclass="flex flex-col min-h-[100dvh]">
              <h2 class="text-2xl md:text-4xl font-bold mb-8">Productos destacados</h2>
              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                    <div class="bg-background rounded-lg shadow-sm overflow-hidden" id="product-list"></div>
                </div>
            </div>
        </section>
    </main>

    <script>
        async function fetchAndDisplayProduct() {
            const response = await fetch("/product/showFeatured/true?offset=0&limit=4&order_by=updated_at");
            const products = await response.json();
            const productContainer = document.getElementById("product-list");

            products.forEach(product => {
                const item = document.createElement("div");
                item.classList.add("carousel-item");
                item.innerHTML = `
                    <div class="m-4 p-4 border border-gray-300 rounded-lg">
                        <img 
                        src="${product.imagen_url}" a
                        lt="${product.title}" 
                        style="aspect-ratio: 400 / 300; object-fit: cover;">
                        <h1 class="text-5xl md:text-5xl font-bold mb-4">${product.name}</h1>
                        <p class="text-4xl text-muted-foreground mb-8">${product.short_description}</p>
                        <h2 class="text-2xl md:text-5xl font-bold mb-4">${product.price}</h2>
                    </div>
                `;
                productContainer.appendChild(item);
            });
        }
        fetchAndDisplayProduct();
    </script>
</body>
</html>
