/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo para la navegación */
nav a {
    background-color: #888;
    color: white;
    font-size: 3rem;
    /* Agrega más propiedades aquí según tus necesidades */
}

body {
    font-family: var(--font-caudex), serif;
    background-color: silver;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-prata), serif;
    color: white;
  }


p   {
    color: black;
}