
{% extends 'base.html' %}

{% block title %}Vendetuttix{% endblock %}

{% block content %}

<main>
  <section class="py-5 md:py-12 flex justify-center items-center bg-light">
    <div class="container flex flex-col items-center min-h-[100vh]">
      <p class="text-4xl md:text-6xl font-bold mb-5" style="font-size: 5rem;">CATEGORIAS</p>
      <div class="product-columns" id="category-list">
        {% for category in categories %}
          {% from 'components/category.html' import categoryComponent %}
          {{ categoryComponent({
            "href":  "/home/productByCategory/" ~ category.id,
            "image_url": category.image_url,
            "title": category.title,
            "description": category.description
          }) }}
        {% endfor %}
      </div>
    </div>
  </section>
      
  

</main>



{% endblock%}