
{% extends 'base.html' %}

{% block title %}Vendetuttix{% endblock %}

{% block content %}

<main>
    <section class="py-5 md:py-12 flex justify-center items-center bg-light">
        <div class="container flex flex-col items-center min-h-[100vh]">
          <p class="text-4xl md:text-6xl font-bold mb-5" style="font-size: 5rem;">ELECTRODOMESTICOS</p>
          <div class="columns" id="category-list"></div>

          </div>
      </section>
      
  
  <script>
    async function fetchAndDisplay() {
        const response = await fetch("/category/showBydepartament/1");
        const items = await response.json();
        const itemContainer = document.getElementById("category-list");
      
        items.forEach(item => {
          const element = document.createElement("div");
          element.classList.add("dept-item");
          element.innerHTML = `
          <a href="/home/productByCategory/${item.id}">
          <div class="products bg-background rounded-lg shadow-sm overflow-hidden">
            <img 
              src="${item.image_url}" 
              alt="${item.title}" 
              style="aspect-ratio: 400 / 300; object-fit: cover;">
            <h1 class="text-5xl md:text-5xl font-bold mb-4">${item.title}</h1>
            <p class="text-4xl text-muted-foreground mb-8">${item.description}</p>
        
            </div>
            </a>
          `;
          itemContainer.appendChild(element);
        });
      }
      fetchAndDisplay();

</script>
</main>



{% endblock%}